body {
  font-family: 'Lato', sans-serif;
  background-color: #323852;
}

.container {
  max-width: 1100px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  background-color: white;
  -webkit-box-shadow: inset -10px 0px 5px -5px #323852;
  -moz-box-shadow: inset -10px 0px 5px -5px #323852;
  box-shadow: inset -10px 0px 5px -5px #323852;
  border-top: 3px solid #323852;
}

.columns {
  margin: 0;
}

.row {
  display: flex;
  flex: 1 1;
}

.row .three.columns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1%;
  padding-left: 1%;
  background-color: #007AC2;
  color: white;
  border-bottom: 1px dashed #323852;
}

.row .nine.columns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px dashed #323852;
}

.row .nine.columns p {
  padding-left: 10%;
}

.row:last-of-type .three.columns {
  border-bottom: none;
}

.row:last-of-type .nine.columns {
  border-bottom: none;
}

.eleven.columns {
  display: flex;
  flex-direction: column;
}

.one.columns {
  -webkit-box-shadow: inset 10px 0px 5px -5px #323852;
  -moz-box-shadow: inset 10px 0px 5px -5px #323852;
  box-shadow: inset 10px 0px 5px -5px #323852;
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 1%;
}

#menuBar {
  background-color: #007AC2;
  z-index: 10;
  width: 100vw;
  position: fixed;
  margin: 0 auto;
}

#menuBar nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 3%;
  padding-right: 5%;
}

#menuBar nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
  padding-top: 10px;
}

#menuBar nav ul li {
  display: inline;
  padding-right: 20px;
}

#menuBar nav ul li a {
  text-decoration: none;
  color: white;
}

#menuBar nav .flagButton {
  width: 40px;
  height: 25px;
  background-color: red;
}

#personalInfo {
  padding-top: 57px;
}

#personalInfo .photoFrame {
  max-height: 300px;
  max-width: 200px;
  height: 300px;
  width: 200px;
  background-color: red;
}

#artGallery .three.columns {
  flex-direction: column;
  justify-content: space-around;
}

#artGallery .three.columns .galleryButton {
  background-color: red;
  width: 50px;
  height: 50px;
  align-self: center;
}

#artGallery .nine.columns {
  display: flex;
  flex-direction: column;
}

#artGallery .nine.columns section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  border: 1px solid #323852;
}

#artGallery .nine.columns section .fa-4 {
  font-size: 2em;
}

#artGallery .nine.columns section .imageFrame {
  width: 50px;
  height: 50px;
  background-color: #007AC2;
  overflow: hidden;
}

#artGallery .nine.columns section .imageFrame ul {
  list-style: none;
}

#artGallery .nine.columns section .imageFrame ul li {
  display: inline;
}

#artGallery .nine.columns section .imageFrame ul li div {
  width: 50px;
  height: 50px;
}

#hobbyGallery .three.columns {
  flex-direction: column;
  justify-content: space-around;
}

#hobbyGallery .three.columns .hobbyButton {
  background-color: red;
  width: 50px;
  height: 50px;
  align-self: center;
}

#hobbyGallery .nine.columns {
  display: flex;
  flex-direction: column;
}

#hobbyGallery .nine.columns section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  border: 1px solid #323852;
}

#hobbyGallery .nine.columns section .fa-4 {
  font-size: 2em;
}

#hobbyGallery .nine.columns section .imageFrame {
  width: 50px;
  height: 50px;
  background-color: #007AC2;
  overflow: hidden;
  position: relative;
}

#hobbyGallery .nine.columns section .imageFrame ul {
  list-style: none;
  white-space: nowrap;
  position: absolute;
}

#hobbyGallery .nine.columns section .imageFrame ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#hobbyGallery .nine.columns section .imageFrame ul li div {
  width: 50px;
  height: 50px;
}

#contactInfo {
  min-height: 35vh;
}

/*# sourceMappingURL=style.css.map */
