@import '_variables.scss';
@import '_mixins.scss';

body {
  font-family: 'Lato', sans-serif;
  background-color: $colorBackground;
}

.container {
  max-width: 1100px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  background-color: white;
  @include frameShadowRight();
  border-top: 3px solid $colorBackground;
}

.columns {
  margin: 0;
}

.row {
  display: flex;
  flex: 1 1;
  .three.columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1%;
    padding-left: 1%;
    background-color: $colorBar;
    color: white;
    border-bottom: 1px dashed $colorBackground;
  }
  .nine.columns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px dashed $colorBackground;
    p {
      padding-left: 10%;
    }
  }
}

.row:last-of-type {
  .three.columns {
    border-bottom: none;
  }
  .nine.columns {
    border-bottom: none;
  }
}

.eleven.columns {
  display: flex;
  flex-direction: column;
}

.one.columns {
  @include frameShadowLeft();
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 1%;
}

#menuBar {
  background-color: $colorBar;
  z-index: 10;
  width: 100vw;
  position: fixed;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  nav {
    display: flex;
    justify-content: space-around;;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 3%;
    padding-right: 5%;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
      padding-top: 10px;
      li {
        display: inline;
        padding-right: 25px;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
    .flagButton {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: white;
    }
  }
}

#personalInfo {
  padding-top: 57px;
  .photoFrame {
    max-height: 300px;
    max-width: 200px;
    height: 300px;
    width: 200px;
    background-color: red;
  }
}

button {
  border: 1px solid white;
  border-radius: 10%;
  padding: 0;
  width: 70%;
  min-height: 2em;
  text-align: center;
}
button:hover {
  color: white;
  background-color: $colorBackground;
  border-color: white;
}
button:focus {
  color: white;
  background-color: $colorBackground;
  border-color: white;
}

#artGallery {
  .three.columns {
    flex-direction: column;
    justify-content: space-around;
    .galleryButton {
      align-self: center;
    }
  }
  .nine.columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    section {
      width: 100%;
      .galleryFrame {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .fa-4 {
        font-size: 2em;
      }
      .imageFrame {
        width: 50px;
        height: 50px;
        background-color: $colorBar;
        overflow: hidden;
        position: relative;
        ul {
          list-style: none;
          white-space: nowrap;
          position: absolute;
          li {
            display: inline-block;
            div {
              width: 50px;
              height: 50px;
            }
          }
        }
      }
    }
    section.galleryBox {
      display: none;
    }
    section.artDescription {
      div {
        justify-content: flex-start;
      }
    }
  }
}

#hobbyGallery {
  .three.columns {
    flex-direction: column;
    justify-content: space-around;
    .hobbyButton {
      align-self: center;
    }
  }
  .nine.columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    section {
      width: 100%;
      .galleryFrame {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .fa-4 {
        font-size: 2em;
      }
      .imageFrame {
        width: 50px;
        height: 50px;
        background-color: $colorBar;
        overflow: hidden;
        position: relative;
        ul {
          list-style: none;
          white-space: nowrap;
          position: absolute;
          li {
            display: inline-block;
            margin: 0;
            padding: 0;
            div {
              width: 50px;
              height: 50px;
            }
          }
        }
      }
    }
    section.galleryBox {
      display: none;
    }
    section.hobbyDescription {
      div {
        justify-content: flex-start;
      }
    }
  }

}

#contactInfo {
  min-height: 35vh;
}
